body {
    background-image: url('../../../public/imagens/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.navegacao ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 20px;
    padding-right: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
   
}
.navegacao li a{
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    color: #FFF;
}

#home {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 1em;
}

.apresentacaoConteudoHome {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 500px;
    list-style: none;
    margin-top: 200px
}

.apresentacaoConteudoHome h2,h1 {
    margin-bottom: 50px;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    list-style: none;
}

.apresentacaoConteudoHome h1 {
    font-size: 120px;
    list-style: none;
}

.apresentacaoConteudoHome p {
    font-size: 20px;
    letter-spacing: 2px;
    list-style: none;   
}














